body{
    background-color:#E0E0E0;
}

.Full_view{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.right_side_of_view{
    width: 70%;
    float: right;
}

.left_half_of_view {
    float:left;
    width: 25%;
}

.datatable{
    width: 98%;
    padding: 1%
}

.ttb{
    margin-left:1%;
    
}
.card-background-dropdown-timestamp{
    margin-left: 2%;
    width: 100%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color:white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
}

.card-datatable-ttb{
    width:95%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color:white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
    padding:1%
}

.dropdown-below-timestamp {
    width: 95%; 
    margin-bottom: 1%;
    padding: 1%;
    margin-left: 1%;
}

.graph-card{
    height: auto;
    width:95%;
    margin-top:2%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
    padding:1%;
    display: inline-block;
}

.map_for_endpoint_transmissions{
    width: 98%;
    padding: 1%;
}

.latest-update{
    width: 98%;
    padding: 1%
}

.card-background-max-ttb{
    margin-left: 2%;
    width: 100%;
    margin-top:2%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color:white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
}

.card-background-circular-graph{
    margin-left: 2%;
    width: 98%;
    margin-top:2%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color:white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
}

.circular-pie-chart{
    width:100%;
    border-radius: .2em;
    border: 1px solid #cccccc;
    background-color:white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    text-align:left;
    padding:1%
}

.datepicker{
    width: 95%; 
    margin-left: 1%;
    margin-bottom: 2%;
    padding: 1%;
}

.hour-selector{
    width: 95%; 
    margin-bottom: 1%;
    padding: 1%;
    margin-left:1%;
}

